.bannerDiv{
    padding:1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap:5rem;
    row-gap: 1rem;
    background-color: darkgrey;
    border-radius: 1rem;
    width: 80%;
    min-width: fit-content;
    h4,button{
        font-family: 'Ubuntu Condensed', sans-serif;;
    }
    span{
        font-family: 'Lato', sans-serif; 
    }
    h4 , span{
        width: 10rem;
    }

    button{
        background-color: whitesmoke;
        border:0;
        padding: 0.25rem;
        border-radius: 10px;
        min-width: 2rem;
    }
}


