.filterContainer{
    display: flex;
    justify-content: center;
}

.filterDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap:2rem;
    row-gap: 1rem;
    margin:1rem;
    background-color: grey;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 1rem;
   .filter{
       display: flex;
       align-items: center;
       justify-content: space-between;
       gap:0.5rem
   }   
}