.filterContainer{
    display: flex;
    justify-content: center;
}

.filterDiv{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    column-gap:2rem;
    row-gap: 1rem;
    margin:1rem;
    background-color: grey;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 1rem;
   .filter{
       display: flex;
       align-items: center;
       gap:0.5rem;
       max-width: fit-content;
       font-family: 'Ubuntu Condensed', sans-serif;
       input,select{
           font-family: 'Ubuntu Condensed', sans-serif;
           max-width: fit-content;
           border-radius: 0.2rem;
           border:0;
           padding: 5px;
       }
   }   
}