.footerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    margin-top: 1rem;
    button{
        background-color:darkslategray;
        font-family: 'Ubuntu Condensed', sans-serif;
        color:whitesmoke;
        width: 8rem;
        border:0;
        border-radius: 1rem;
        padding: 0.4rem;
        font-size:large;
        &:disabled{
            background-color: lightslategrey;
            cursor:not-allowed;        
        }
    }
}