.container{
    background-image: url("../../../landingRick.jpg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
  padding: 1rem;
  max-width: 50%;
  background-color: darkslategray;
  color:lightslategray;
  display: flex;
  gap:1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
    .landingTitle{
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 3rem;
    }
    li{
        margin-bottom: 1rem;
        margin-left: 10px;
    }
    .landingText{
         font-family: 'Lato', sans-serif; 
         font-weight: 700;
         color: whitesmoke;
        }
    button{
        background-color: whitesmoke;
        border-radius:1rem;
        border:0;
        width:10rem;
        color: darkslategray;
        font-family: 'Ubuntu Condensed', sans-serif;

    }
}